@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  80% {
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  80% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
}

.btn {
  display: inline-block;
  border-radius: 100px;
  padding: 1rem 3rem;
  transition: transform 0.2s ease-out;
}
.btn:link, .btn:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.5px;
}
.btn:active {
  transform: translateY(5px);
}
.btn--green {
  background-color: hsl(171, 66%, 44%);
  border-bottom: 3px solid #1d907f;
  box-shadow: 0 1rem 2rem 0rem rgba(38, 186, 164, 0.3);
}
.btn--blue {
  background-color: hsl(233, 100%, 69%);
  border-bottom: 3px solid #2e46ff;
  box-shadow: 0 1rem 2rem 0rem rgba(97, 115, 255, 0.3);
}

.textbox {
  text-align: center;
  max-width: 73rem;
  margin-bottom: 3rem;
}
.textbox h2 {
  font-size: 3.6rem;
}
.textbox p {
  font-size: 1.8rem;
  color: hsl(201, 11%, 66%);
  margin: 2rem;
}
.textbox--animate-up {
  animation-name: slideFromBottom;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15rem 5rem;
}
.clipboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
.clipboard__image {
  width: 81rem;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15rem;
}
.download__buttons {
  display: flex;
  gap: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  padding: 10rem 0;
  background-image: url("../../assets/bg-header-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__logo {
  width: 10rem;
}
.hero__textbox {
  max-width: 730px;
}
.hero__title {
  font-size: 4.6rem;
  margin: 1rem 0;
  animation-name: slideFromLeft;
  animation-duration: 2s;
}
.hero__description {
  font-size: 2rem;
  color: hsl(201, 11%, 66%);
  animation-name: slideFromRight;
  animation-duration: 2s;
}
.hero__buttons {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  animation-name: slideFromBottom;
  animation-duration: 2s;
}

.snippets {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.snippets__grid {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
@media only screen and (max-width: 900px) {
  .snippets__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto, 1fr;
    gap: 5rem;
  }
}
.snippets__imageContainer {
  height: 57.2rem;
}
@media only screen and (max-width: 1350px) {
  .snippets__imageContainer {
    height: 42vw;
  }
}
@media only screen and (max-width: 900px) {
  .snippets__imageContainer {
    display: flex;
    justify-content: center;
    min-height: 23.8rem;
  }
}
.snippets__image {
  position: absolute;
  left: -32px;
  width: 75rem;
  height: 57.2rem;
}
@media only screen and (max-width: 1350px) {
  .snippets__image {
    width: 55vw;
    height: auto;
  }
}
@media only screen and (max-width: 900px) {
  .snippets__image {
    position: static;
    min-width: 31.2rem;
    min-height: 23.8rem;
  }
}
.snippets__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10rem;
  gap: 5rem;
}
@media only screen and (max-width: 900px) {
  .snippets__list {
    margin-left: 0;
    align-items: center;
    text-align: center;
  }
}
.snippets__item {
  max-width: 35rem;
}
.snippets__item h3 {
  font-size: 2.4rem;
}
.snippets__item p {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: hsl(201, 11%, 66%);
}
@media only screen and (max-width: 900px) {
  .snippets__item {
    max-width: 31rem;
  }
}

.supercharge {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.supercharge__flexContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.supercharge__flexItem {
  display: flex;
  flex-direction: column;
  grid-template-rows: 5rem 10rem;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  max-width: 35rem;
}
.supercharge__icon-container {
  height: 4.5rem;
}
.supercharge__flexContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.supercharge__flexContent h3 {
  font-size: 2.4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.supercharge__flexContent p {
  font-size: 1.6rem;
  color: hsl(201, 11%, 66%);
}

.footer {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: #f2f2f2;
  padding: 5rem 5rem 5rem 15rem;
}
.footer__logo {
  width: 5rem;
}
.footer__nav {
  margin-left: 10rem;
}
.footer__nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem 6rem;
}
.footer__nav li {
  list-style-type: none;
}
.footer__nav a:link,
.footer__nav a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
}
.footer__socials {
  margin-left: auto;
  display: flex;
  gap: 2rem;
}

/*# sourceMappingURL=main.css.map */
