.clipboard {
    @include flexbox-center;
    margin-top: 10rem;

    &__image {
        width: 81rem;

        @media only screen and (max-width: 900px) {
            width: 85vw;
            min-width: $min-width;
        }
    }

    @media only screen and (max-width: 700px) {
        margin-bottom: min(13rem, calc(700px - 100vw));
    }
}
