.hero {
    @include flexbox-center;
    height: 80vh;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    padding: 10rem 0;

    background-image: url('../../assets/bg-header-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__logo {
        width: 10rem;
    }

    &__textbox {
        max-width: 730px;
    }

    &__title {
        font-size: 4.6rem;
        margin: 1rem 0;

        animation-name: slideFromLeft;
        animation-duration: 2s;
    }

    &__description {
        font-size: 2rem;
        color: $color-font-secondary;

        animation-name: slideFromRight;
        animation-duration: 2s;
    }

    &__buttons {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;

        animation-name: slideFromBottom;
        animation-duration: 2s;
    }
}
