@use '../abstracts' as a;

.hero {
    @include a.flexbox-center;
    height: 80vh;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    padding: 10rem 0;

    background-image: url('../../assets/bg-header-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__logo {
        width: 12.5rem;
    }

    &__textbox {
        max-width: 730px;

        @media only screen and (max-width: 900px) {
            margin: 3.2rem;
        }

        @media only screen and (max-width: 800px) {
            width: 80vw;
            min-width: a.$min-width;
        }
    }

    &__title {
        font-size: 4.6rem;
        margin: 1rem 0;

        animation-name: slideFromLeft;
        animation-duration: 2s;

        @media only screen and (max-width: 400px) {
            font-size: 3.2rem;
        }
    }

    &__description {
        font-size: 2rem;
        color: a.$color-font-secondary;

        animation-name: slideFromRight;
        animation-duration: 2s;

        @media only screen and (max-width: 400px) {
            font-size: 1.6rem;
        }
    }

    &__buttons {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;

        animation-name: slideFromBottom;
        animation-duration: 2s;

        @media only screen and (max-width: 575px) {
            flex-direction: column;
        }
    }
}
