.snippets {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        text-align: center;
        max-width: 73rem;
        margin-bottom: 5rem;

        h2 {
            font-size: 3.6rem;
        }

        p {
            font-size: 1.8rem;
            color: $color-font-secondary;
            margin: 2rem;
        }
    }

    &__grid {
        width: 100vw;
        height: 58rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    &__image {
        position: absolute;
        left: -32px;
        width: 75rem;
        height: 57.2rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10rem;
        gap: 5rem;
    }

    &__item {
        max-width: 35rem;

        h3 {
            font-size: 2.4rem;
        }

        p {
            margin-top: 1rem;
            font-size: 1.6rem;
            color: $color-font-secondary;
        }
    }
}
