@use '../abstracts' as a;

.snippets {
    @include a.flexbox-center;

    &__grid {
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        @media only screen and (max-width: 900px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto, 1fr;
            gap: 5rem;

            margin-bottom: min(18rem, calc(900px - 100vw));
        }
    }

    &__imageContainer {
        height: 57.2rem;

        @media only screen and (max-width: 1350px) {
            height: 42vw;
        }

        @media only screen and (max-width: 900px) {
            display: flex;
            justify-content: center;
            min-height: 23.8rem;
        }

        @media only screen and (min-width: 1450px) {
            position: relative;
        }
    }

    &__image {
        position: absolute;
        left: -32px;
        width: 75rem;
        height: 57.2rem;

        @media only screen and (max-width: 1350px) {
            width: 55vw;
            height: auto;
        }

        @media only screen and (max-width: 900px) {
            position: static;
            min-width: a.$min-width;
            min-height: 23.8rem;
        }

        @media only screen and (min-width: 1450px) {
            right: -2vw;
            left: auto;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10rem;
        gap: 5rem;

        @media only screen and (max-width: 900px) {
            margin-left: 0;
            align-items: center;
            text-align: center;
        }
    }

    &__item {
        width: 35rem;

        h3 {
            font-size: 2.4rem;
        }

        p {
            margin-top: 1rem;
            font-size: 1.6rem;
            color: a.$color-font-secondary;
        }

        @media only screen and (max-width: 900px) {
            width: 50vw;
            min-width: a.$min-width;
        }
    }
}
