.supercharge {
    @include flexbox-center;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__gridItem {
        @include flexbox-center;
        max-width: 35rem;
    }
}
