@use '../abstracts/' as a;

.supercharge {
    @include a.flexbox-center;

    &__flexContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        gap: 2rem;

        @media only screen and (max-width: 300px) {
            gap: 5rem;
            margin-top: 9rem;
        }
    }

    &__flexItem {
        display: flex;
        flex-direction: column;
        grid-template-rows: 5rem 10rem;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        width: 35rem;

        @media only screen and (max-width: 900px) {
            width: 50vw;
            min-width: a.$min-width;
        }
    }

    &__icon-container {
        height: 4.5rem;

        @media only screen and (max-width: 900px) {
            height: 4rem;
        }
    }

    &__flexContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 2.4rem;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.6rem;
            color: a.$color-font-secondary;
        }
    }
}
