.supercharge {
    @include flexbox-center;

    &__grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

    &__gridItem {
        display: grid;
        grid-template-rows: 5rem 10rem;
        grid-template-columns: 1fr;
        gap: 3rem;
        align-items: center;
        text-align: center;
        max-width: 35rem;
    }

    &__gridContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            font-size: 2.4rem;
            margin-top: 0;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.6rem;
            color: $color-font-secondary;
        }
    }
}
