$color-font-primary: hsla(210, 10%, 33%, 1);
$color-font-secondary: hsla(201, 11%, 66%, 1);
$color-font-white: hsla(0, 0%, 100%, 1);

$color-button-green: hsla(171, 66%, 44%, 1);
$color-button-blue: hsla(233, 100%, 69%, 1);

$color-background-grey: #f2f2f2;
